/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #F2F2F2;
	font-size: 16px;
	color: #252b42;
	font-weight: 400;
	font-family: "Asap", sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0px auto;
}
/* --------------------HEADER---------------------- */
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header__social {
	background: #0E77AF;
	width: 100%;
	height: 40px;
}
.social-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
.social-header__icons {
}
.social-header__icon {
	height: 16px;
}
.social-header__icon:not(:last-child) {
	padding: 0px 21px 0px 0px;
}
.social-header__email {
	color: #fff;
	font-size: 12px;
	line-height: 116.667%;
}
.header__menu {
}
.menu {
}
.menu__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 119px;
}
.menu__logo {	
	padding: 20px 20px 24px 0px;
	max-width: 75px;
}
.menu__nav {
	
}
.nav {
}
.nav__list {
	display: flex;
}
.nav__item {
}
.nav__item:not(:last-child) {
	padding: 0px 18px 0px 0px;
}
.item-home {
	font-weight: 700;
}
.nav__link {
	color: #000;
}
.header__callus {
}
.callus {
	display: flex;
	align-items: center;
}
.callus__icon {
}
.callus__body {
	padding: 0px 0px 0px 12px;
}
.callus__body_text {
	color: #7D7D7D;
	font-size: 14px;
	line-height: 114.2857%;
}
.callus__body_tel {
	color: #000000;

}
/* -------------------FOOTER--------------------- */
