/* -----------------Обнуление-------------------- */
*,*::before,*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,ol,li {
	list-style: none;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: inherit;
	font-size: inherit;
}

/* -------------------GENERAL--------------------- */
html,body {
	height: 100%;
	line-height: 1;
	background: #F2F2F2;
	font-size: 16px;
	color: #000;
	font-weight: 400;
	font-family: "Asap", sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	width: 100%;
	max-width: 1201px;
	padding: 0 15px;
	margin: 0px auto;
}
.h1 {
	font-weight: 700;
	font-size: 84px;
	line-height: 96px;
}
.h2 {
	font-weight: 700;
	font-size: 32px;
	line-height: 37px;
}
.h3 {
	font-size: 24px;
	line-height: 28px;
}
.button__transparent {
	background: inherit;
	font-weight: 700;
	font-size: 12px;
	line-height: 242%;
	color: #7D7D7D;
}

/* -------------------HEADER---------------------- */
.header {
	width: 100%;
	z-index: 50;
}
.header__social {
	background: #0E77AF;
	height: 40px;
}
.social__container {
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
}
.social__icons {
	display: flex;
	column-gap: 20px;
}
.email {
	font-size: 12px;
	line-height: 14px;
	color: #fff;
}
.menu__container {
	display: flex;
	justify-content: space-between;
	min-height: 120px;
	align-items: center;
}
.menu__logo {
	width: 75px;
	height: 75px;
}
.menu__body {
	display: flex;
	justify-content: space-between;
}
.menu__nav {
	display: flex;
	align-items: center;
	max-width: 650px;
	white-space: nowrap;
	flex-wrap: wrap;
	gap: 10px 20px;
	padding: 0px 0px 0px 20px;
}
.nav__item {
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
}
.nav__item:hover {
	font-weight: 700;
	cursor: pointer;
}
.item-active {
	font-weight: 700;
}
.menu__callus {
	display: flex;
	align-items: center;
	margin: 0px 0px 0px 58px;
}
.callus__body {
	white-space: nowrap;
	margin: 0px 0px 0px 12px;
}
.callus__text {
	font-size: 14px;
	line-height: 114.29%;
	color: #7D7D7D;
}
.callus__phone {
	font-size: 16px;
	line-height: 112.5%;
	color: #000;
}
@media (max-width: 1019px) {
	.header__menu {
		display: flex;
		justify-content: center;
	}
	.menu__container {
		flex-direction: column;
		margin: 30px 0px 0px 0px;
	}
	.menu__body {
		flex-direction: column;
		margin: 30px 0px 0px 0px;
	}
	.menu__nav {
		padding: 0px;
	}
	.menu__callus {
		justify-content: flex-end;
		margin: 30px 0px;
	}
}

/* -------------------MAIN-------------------- */
.main {
	display: flex;
	align-items: center;
	min-height: 645px;
	width: 100%;
	background: url("../img/main/1.jpg") no-repeat center top;
	background-size: cover;
}
.main__container {
	display: flex;
	position: relative;
	align-items: center;
}
.prev {
	height: 35px;
	width: 19px;
	position: absolute;
	left: -138px;
	background: transparent;
}
.prev img {
	height: 35px;
	width: 19px;
}
.main__body {
	width: 49.79%;
	margin: 0px 0px 0px 50.21%;
	color: #1A1919;
}
.main__over {
	width: 180px;
	font-weight: 400;
	font-size: 28px;
	line-height: 32px;
}
.main__title {
	width: 458px;
	padding: 25px 0px 0px;
}
.main__text {
	max-width: 584px;
	font-weight: 400;
	font-size: 32px;
	line-height: 42px;
	color: #000;
}
.reachus {
	margin: 40px 0px 0px;
	width: 284px;
	height: 74px;
	background: #B4141B;
	font-weight: 700;
	font-size: 24px;
	line-height: 23px;
	text-align: center;
	color: #FFFFFF;
}
.reachus:hover {
	cursor: pointer;
}
.reachus:active {
	background: #810e14;
}
.next {
	position: absolute;
	right: -138px;
	height: 35px;
	width: 19px;
	background: transparent;
}
.next img {
	height: 35px;
	width: 19px;
}
@media (max-width: 1550px) {
	.prev {
		left: -70px;
	}
	.next {
		right: -70px;
	}
}
@media (max-width: 1430px) {
	.prev {
		left: 0px;
	}
	.main__body {
		width: 75%;
		margin: 0px 0px 0px 25%;
	}
	.next {
		right: 0px;
	}
}
@media (max-width: 1300px) {
	.prev {
		left: 50px;
	}
	.next {
		right: 50px;
	}
}
@media (max-width: 1120px) {
	.main {
		min-height: 519px;
	}
	.main__body {
		width: 70%;
		margin: 0px 0px 0px 30%;
	}
}
@media (max-width: 900px) {
	.main__text {
		max-width: 400px;
	}
}
@media (max-width: 840px) {
	.main__body {
		width: 75%;
		margin: 0px 0px 0px 25%;
	}
}
@media (max-width: 720px) {
	.main {
		min-height: 560px;
	}
	.main__body {
		width: 70%;
		margin: 0px 15%;
	}
	.main__title {
		max-width: 290px;
		font-size: 70px;
		line-height: 114.3%;
	}
}
@media (max-width: 565px) {
	.main {
		min-height: 600px;
	}
	.prev {
		left: 30px;
	}
	.main__body {
		width: 70%;
		margin: 0px 15%;
	}
	.main__text {
		width: 300px;
	}
		.next {
		right: 30px;
	}
}
@media (max-width: 510px) {
	.main {
		min-height: 600px;
	}
	.main__text {
		width: 300px;
	}
}
@media (max-width: 470px) {
	.main__container {
		padding: 0px;
	}
	.prev {
		left: 20px;
	}
	.next {
		right: 20px;
	}
}
@media (max-width: 406px) {
	.reachus {
		width: 100%;
	}
}

/* -------------------WE-------------------- */
.we__container {
	display: flex;
	flex: 1 1 auto;
	gap: 85px 45px;
	margin: 85px auto 135px auto;
}
.we__left {
	width: 65.5%;
	flex-shrink: 0;
}
.we__title {
	margin: 0px 0px 64px 0px;
}
.we__left_img img {
	max-width: 100%;
}
.we__left_text {
	display: flex;
	flex-direction: column;
	row-gap: 58px;
	margin: 39px 0px 0px;
	line-height: 181%;
}
.we__right {
	width: 34.5%;
	max-width: 350px;
}
.we__card {
	padding: 40px 18px 32px 37px;
}
.card__top {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.card__title {
	font-weight: 700;
	align-items: center;
	color: #0E77AF;
}
.card__icon {
	width: 33px;
	height: 35px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.card__text {
	line-height: 156%;
	max-width: 284px;
	margin: 17px 0px 0px 0px;
}
.we__button {
	margin: 18px 0px 0px 0px;
}
.more:hover {
	cursor: pointer;
}
.card1 {
	background: linear-gradient(180deg, #F8F8F8 0%, #F7F7F7 100%);
}
.card2 {
	background: linear-gradient(180deg, #F3F3F3 2.58%, #F3F3F3 100%);
}
.card3 {
	background: linear-gradient(180deg, #FCFCFC 0%, #F7F7F7 100%);
}
@media (max-width: 1076px) {
	.we__container {
	flex-wrap: wrap;
	margin: 85px auto;
	}
	.we__left {
		width: 100%;
	}
	.we__right {
		width: 100%;
		max-width: none;
	}
	.we__card {
		width: 100%;
	}
}
@media (max-width: 797px) {
	.we__container {
		margin: 55px auto;
		gap: 55px 45px;
	}
	.we__title {
		margin: 0px 0px 30px 0px;
	}
	.we__left_text {
		row-gap: 30px;
	}
}
@media (max-width: 420px) {
	.we__card {
		padding: 40px 18px 24px 20px;
	}
}

/*-----------------BENEFITS-----------------*/
.benefits {
	display: flex;
}
.benefits__left {
	display: flex;
	min-height: 504px;
	width: 52.732%;
	align-items: center;
	justify-content: end;
	background: url(../img/benefits/1.png) no-repeat right top;
	background-size: cover;
}
.benefits__buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 21px;
	width: 100%;
	max-width: 475px;
	height: 330px;
}
.benefits__button {
	width: 100%;
	height: 96px;
	background: #0E77AF;
	mix-blend-mode: normal;
	opacity: 0.9;
	font-family: "Asap", sans-serif;
	font-weight: 700;
	font-size: 22px;
	line-height: 25px;
	color: #FFFFFF;
	padding: 0px 0px 0px 34px;
	text-align: left;
	z-index: 2;
}
.button__wight {
	background: rgba(255, 255, 255, 0.9);
	color: #000000;
}
.benefits__right {
	width: 47.268%;
	z-index: 2;
	background: linear-gradient(180deg, #FCFCFC 0%, #F8F8F8 100%) no-repeat right top;
	min-height: 504px;
	left: 52.732%;
	top: 0px;
	background-size: cover;
}
.benefits__body {
	max-width: 516px;
	padding: 75px 0px 57px 65px;
}
.benefits__subtitle {
	color: #9B9B9B;
	margin: 10px 0px 0px;
}
.benefits__ul {
	min-height: 196px;
	margin: 38px 0px 0px -12px;
}
.benefits__li {
	font-size: 16px;
	line-height: 29px;
	list-style-type: disc;
	list-style-position: inside;
}
.button__red {
	font-weight: 700;
	font-size: 12px;
	line-height: 192%;
	text-align: center;
	color: #FFFFFF;
	width: 104px;
	height: 35px;
	background: #B4141B;
}
.button__red:hover {
	cursor: pointer;
}
.button__red:active {
	background: #720d12;
}
.benefits__button_red {
	margin: 26px 0px 0px;
}
@media (max-width: 1076px) {
	.benefits {
		flex-wrap: wrap;
	}
	.benefits__left {
		background: url(../img/benefits/1.png) no-repeat right top;
		background-size: cover; 
		width: 100%;
		margin: 0px 15px 0px;
	}
	.benefits__buttons {
		width: 65%;
		max-width: none;
	}
	.benefits__button {
		padding: 0px 15px 0px 34px;
	}
	.benefits__right {
		width: 100%;
		margin: 0px 15px 0px;
		padding: 0px;
	}
	.benefits__body {
		width: 100%;
		max-width: none;
	}
}
@media (max-width: 900px) {
	.benefits__body {
		padding: 75px 15px 57px 65px;
	}	
}
@media (max-width: 780px) {
	.benefits__buttons {
		width: 100%;
	}
}
@media (max-width: 540px) {
	.benefits__body {
		height: 504px;
		padding: 50px 15px 30px 65px;
	}
}
@media (max-width: 472px) {
	.benefits__right {
		height: 504px;
	}
	.benefits__body {
		height: 100%;
		padding: 50px 15px 30px 35px;
	}
}
@media (max-width: 437px) {
	.benefits__right {
		height: 580px;
	}
}

/*----------------SERVICES----------------*/
.services {
	min-height: 670px;
	margin: 130px 0px 0px;
}
.services__container {
	display: flex;
	justify-content: space-between;
	gap: 30px 101px;
	height: 100%;
}
.services__left {
	display: flex;
	flex-direction: column;
	min-height: 670px;
	width: 50.897%;
	max-width: 596px;
}
.services__subtitle {
	color: #9B9B9B;
	margin: 9px 0px 0px;
}
.services__item1 {
	margin: 67px 0px 0px 0px;
}
.services__item_title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #979797;
	padding: 0px 0px 25px 0px;
}
.services__title_menu {
	font-weight: 700;
	color: #0E77AF;
}
.services__icon {
	width: 18px;
	height: 18px;
}
.services__icon_minus img {
	vertical-align: center;
}
.services__item_content {
	display: flex;
	margin: 32px 0px 0px;
}
.services__item_img img {
	width: 160px;
	height: 160px;
}
.services__item_body {
	margin: 12px 0px 0px 20px;
}
.services__item_text {
	font-size: 16px;
	line-height: 181%;
}
.services__button {
	margin: 19px 0px 0px 0px;
}
.services__item2 {
	margin: 42px 0px 0px;
}
.services__item3 {
	margin: 31px 0px 0px;
}
.services__right {
	display: flex;
	flex-direction: column;
	height: 670px;
	width: 40.478%;
	max-width: 474px;
}
.security__subtitle {
	color: #9B9B9B;
	margin: 9px 0px 0px;
}
.security__img {
	width: 100%;
	height: 323px;
	margin: 47px 0px 0px;
	background: url(../img/services/2.png) no-repeat left top;
	background-size: cover; 
}
.security__text {
	font-size: 16px;
	line-height: 181%;
	margin: 58px 0px 0px;
}
.security__button {
	margin: 45px 0px 0px;
}
@media (max-width: 1353px) {
	.services {
		margin: 70px 0px 0px;
	}
}
@media (max-width: 920px) {
	.services__container {
		flex-wrap: wrap;
	}
	.services__left {
		width: 100%;
		max-width: none;
		min-height: 630px;
	}
	.services__right {
		width: 100%;
		max-width: none;
		height: 700px;
		max-height: none;
		padding: 0px;
	}
	.security__img {
		background: url(../img/services/2.png) no-repeat left bottom;
		background-size: cover; 
		height: 400px;
	}
	.security__text {
		margin: 30px 0px 0px;
	}
	.security__button {
		margin: 25px 0px 0px;
	}
}
@media (max-width: 502px) {
	.services__left {
		min-height: 760px;
	}
	.services__item_content {
		flex-wrap: wrap;
	}
	.services__item_body {
		width: 100%;
	}
}
@media (max-width: 403px) {
	.services__left {
		min-height: 790px;
	}
}

/*-------------TESTIMONIALS--------------*/
.testimonials {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 651px;
	background: #0E77AF;
	margin: 140px 0px 0px;
}
.testimonials__container {
	display: flex;
	row-gap: 50px;
	width: 1201px;
	height: 356px;
}
.testimonials__left {
	width: 37.32%;
	min-height: 356px;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
}
.testimonials__title {
	margin: 2px 0px 0px 0px;
}
.testimonials__subtitle {
	margin: 9px 0px 0px 0px;
}
.testimonials__data {
	font-weight: 700;
	font-size: 64px;
	line-height: 73px;
	margin: 92px 0px 0px 0px;
}
.testimonials__text {
	font-size: 28px;
	line-height: 32px;
	margin: 1px 0px 0px 0px;
}
.testimonials__buttons {
	display: flex;
	margin: 56px 0px 0px 0px;
}
.button__testimonials {
	width: 59px;
	font-family: 'Asap';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 32px;
	color: #FFFFFF;
	background: inherit;
}
.button__testimonials:hover {
	cursor: pointer;
	background: #083e5c;
}
.testimonials__slash {
	width: 20px;
	font-size: 28px;
	line-height: 32px;
	text-align: center;
}
.testimonials__right {
	width: 62.68%;
	min-height: 356px;
	background: #FFFFFF;
}
.testimonials__right_body {
	padding: 75px 45px 82px 59px;
}
.testimonials__right_title {
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
}
.testimonials__right_text {
	font-size: 16px;
	line-height: 29px;
	margin: 17px 0px 0px 0px;
}
.testimonials__author {
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	margin: 54px 0px 0px 0px;
}
@media (max-width: 920px) {
	.testimonials {
		height: 557px;
		margin: 50px 0px 0px;
	}
}
@media (max-width: 852px) {
	.testimonials__right_body {
		padding: 45px;
	}	
}
@media (max-width: 700px) {
	.testimonials {
		height: 760px;
	}
	.testimonials__container {
		flex-wrap: wrap;
		width: 100%;
		min-height: 712px;
	}
	.testimonials__left {
		width: 100%;
	}
	.testimonials__title {
		margin: 20px 0px 0px 0px;
	}
	.testimonials__data {
		margin: 70px 0px 0px 0px;
	}
	.testimonials__right {
		width: 100%;
		min-height: 310px;
	}
}
@media (max-width: 661px) {
	.testimonials__right_body {
		padding: 40px;
	}
}
@media (max-width: 521px) {
	.testimonials__right_body {
		padding: 30px 20px;
	}
	.testimonials__right_text {
		margin: 30px 0px 0px 0px;
	}
	.testimonials__author {
		margin: 30px 0px 0px 0px;
	}
}
@media (max-width: 386px) {
	.testimonials {
		height: 775px;
	}
	.testimonials__right_text {
		margin: 17px 0px 0px 0px;
	}
}

/*--------------------TERMS--------------------*/
.terms {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 941px;
}
.terms__container {
	display: flex;
	margin: 125px 0px 0px 0px;
}
.terms__left {
	width: 50%;
	min-height: 587px;
}
.terms__for-hysicians {
	width: 100%;
	margin: 54px 0px 0px 0px;
}
.terms__subtitle {
	color: #9B9B9B;
	margin: 9px 0px 0px 0px;
}
.terms__text {
	font-size: 16px;
	line-height: 29px;
	color: #595959;
	margin: 24px 0px 0px 0px;
}
.terms__for-hospitals {
	width: 100%;
	margin: 26px 0px 0px 0px;
}
.terms__button {	
	margin: 24px 0px 0px 0px;
}
.terms__right {
	width: 50%;
	min-height: 587px;
}
.form {
	width: 474px;
	height: 587px;
	margin: 0px 0px 0px 111px;
	padding: 0px 0px 0px 48px;
	background: linear-gradient(180deg, #FCFCFC 0%, #F7F7F7 100%);
	position: relative;
}
form {
	display: flex;
	flex-direction: column;
}
.title__right {
	padding: 54px 0px 0px 0px;
}
.input {
   max-width: 388px;
   padding: 19px 13px 18px 13px;
   margin: 37px 0px 0px 0px;
   box-sizing: border-box;
	background: #FFFFFF;
	border: 2px solid #E2E2E2;
}
.input__firstname {
   margin: 46px 0px 0px 0px;
}
.terms__button_red {
	position: absolute;
	bottom: 52px;
	right: 41px;
}
@media (max-width: 1280px) {
	.terms__container {
		margin: 100px 0px 0px 0px;
	}
	.form {
		width: 489px;
		margin: 0px 0px 0px 91px;
		padding: 0px 0px 0px 40px;
	}
	.input {
		max-width: 415px;
	}
	.terms__button_red {
		bottom: 40px;
		right: 35px;
	}
}
@media (max-width: 1201px) {
	.terms__container {
		flex-wrap: wrap;
	}
	.terms__left {
		width: 100%;
	}
	.terms__for-hospitals {
		margin: 40px 0px 0px 0px;
	}
	.terms__right {
		width: 100%;
		min-height: 800px;
	}
	.terms__for-hysicians {
		margin: 0px;
	}
	.form {
		width: 100%;
		margin: 0px;
		padding: 0px 40px;
	}
	.input {
		max-width: 100%;
	}
	.terms__button_red {
		right: 40px;
	}
}
@media (max-width: 790px) {
	.terms__right {
		min-height: 750px;
	}
}
@media (max-width: 700px) {
	.terms__container {
		margin: 70px 0px 0px 0px;
	}
}
@media (max-width: 420px) {
	.form {
		padding: 0px 15px;
	}
	.terms__button_red {
		right: 15px;
	}
}

/* -------------------FOOTER-------------------- */
.footer {
	min-height: 660px;
	color: #FFFFFF;
}
.footer__body {
	min-height: 553px;
	background: #4A4A4A;
}
.footer__body_container {
	position: relative;
}
.footer__body_contacts {
	display: flex;
	height: 196px;
	width: calc(100% - 30px);
	max-width: 1171px;
	position: absolute;
	top: -99px;
}
.contacts__footer_card {
	display: flex;
	align-items: center;
	column-gap: 35px;
	width: 33.333%;
	background: #6C6C6C;
}
.footer__card_left {
	background: #5F5F5F;
}
.footer__card_right {
	background: #7B7B7B;
}
.contacts__footer_icon {
	padding: 0px 0px 0px 16px;
}
.contacts__footer_information {
	height: 100%;
}
.contacts__footer_title {
	font-weight: 700;
	margin: 40px 0px 0px 0px;
}
.contacts__footer_text {
	line-height: 29px;
	margin: 11px 0px 0px 0px;
}
.footer__body_content {
	display: flex;
	padding: 208px 0px 0px 0px;
}
.content__footer_about {
	width: 33.333%;
}
.content__footer_title {
	font-weight: 700;
}
.content__footer_text {
	max-width: 334px;
	margin: 45px 0px 0px 0px;
	line-height: 29px;
}
.content__footer_links {
	width: 33.333%;
}
.links__footer_body {
	margin: 0px 0px 0px 72px;
}
.footer__list {
	margin: 45px 0px 0px 0px;
}
.footer__link {
	line-height: 29px;
}
li > a:hover {
	font-weight: 700;
}
li > a:active {
	border: 2px solid white;
	border-radius: 5px;
}
.list__item {
	color: #FFFFFF;
}
.content__footer_social {
	width: 33.333%;
}
.social__footer_body {
	margin: 0px 0px 0px 72px;
}
.content__footer_title {
}
.content__footer_icons {
	display: flex;
	justify-content: space-between;
	width: 185px;
	margin: 53px 0px 0px 0px;
}
.content__footer_icon img {
	height: 40px;
	width: 40px;
}
.footer__copyright {
	height: 108px;
	background: #363636;
}
.footer__copyright_container {
	display: flex;
	align-items: center;
	height: 100%;
}
.footer__copyright_text {
	line-height: 29px;
}
@media (max-width: 1040px) {
	.content__footer_text {
		padding: 0px 15px 0px 0px;
	}
}
@media (max-width: 1000px) {
	.links__footer_body {
		margin: 0px 0px 0px 45px;
	}
	.social__footer_body {
		margin: 0px 0px 0px 45px;
	}
}
@media (max-width: 830px) {
	.footer {
		min-height: 608px;
	}
	.footer__body {
		min-height: 500px;
	}
	.contacts__footer_card {
		flex-direction: column;
	}
	.contacts__footer_icon {
		padding: 20px 0px 0px 0px;
	}
	.footer__body_content {
		padding: 200px 0px 0px 0px;
	}
	.content__footer_social {
		display: flex;
		justify-content: center;
	}
	.social__footer_body {
		display: flex;
		flex-direction: column;
		margin: 0px;
	}
	.content__footer_title {
		text-align: center;
	}
	.content__footer_icons {
		width: 100%;
		max-width: 185px;
	}
}
@media (max-width: 790px) {
	.footer__body {
		min-height: 600px;
	}
	.footer__body_container {
		position: none;
	}
	.footer__body_contacts {
		display: flex;
		flex-direction: column;
		min-height: 300px;
		position: none;
	}
	.contacts__footer_card {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		height: 100px;
	}
	.contacts__footer_icon {
		padding: 0px 0px 0px 16px;
	}
	.contacts__footer_information {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.contacts__footer_title {
		margin: 0px;
	}
	.footer__body_content {
		padding: 260px 0px 0px 0px;
	}
}
@media (max-width: 700px) {
	.footer__body_content {
		flex-wrap: wrap;
		row-gap: 50px;
	}
	.content__footer_about {
		width: 100%;
		padding: 0px 0px 0px 45px;
	}
	.content__footer_links {
		width: 100%;
	}
	.content__footer_social {
		width: 100%;
		padding: 0px 0px 50px 0px;
	}
}
@media (max-width: 400px) {
	.content__footer_about {
		padding: 0px;
	}
	.links__footer_body {
		margin: 0px;
	}
}