/* -------------Обнуление---------------- */
*,*::before,*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,ol,li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,body {
	height: 100%;
	line-height: 1;
	background: #F2F2F2;
	font-size: 16px;
	color: #000;
	font-weight: 400;
	font-family: "Asap", sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	width: 70.69%;
	padding: 0 15px;
	margin: 0px auto;
}
h2 {
	font-weight: 700;
	font-size: 32px;
	line-height: 37px;
}
h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #0E77AF;
}

/* -------------------HEADER---------------------- */
.header {
	width: 100%;
	z-index: 50;
}
.header__social {
	background: #0E77AF;
	height: 40px;
}
.social {
}
.social__container {
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
}
.social__icons {
	display: flex;
}
.icon {
}
.icon:not(:last-child) {
	margin: 0px 20px 0px 0px;
}
.social__email {
}
.email {
	font-size: 12px;
	line-height: 14px;
	color: #fff;
}
.header__menu {
}
.menu {
}
.menu__container {
	display: flex;
	justify-content: space-between;
	min-height: 120px;
	align-items: center;
}
.menu__logo {
	width: 75px;
	height: 75px;
}
.menu__nav {
	display: flex;
	margin: 0px 0px 0px 11.53%;
}
.nav__list:not(:last-child) {
	margin: 0px 20px 0px 0px;
}
.nav__item {
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
}
.nav__item:hover {
	font-weight: 700;
}
.item-home {
	font-size: 14px;
	font-weight: 700;
}
.menu__callus {
	margin: 0px 0px 0px 3.48%;
	display: flex;
}
.callus__icon {
}
.callus__body {
	margin: 0px 0px 0px 12px;
}
.callus__text {
	font-size: 14px;
	line-height: 114.29%;
	color: #7D7D7D;
}
.callus__phone {
	font-size: 16px;
	line-height: 112.5%;
	color: #000;
}
@media (max-width: 1257px) {
	.menu__nav {
		margin: 0px 0px 0px 6%;
	}
}
@media (max-width: 1183px) {
	.menu__nav {
		flex-wrap: wrap;
	}
	.callus__phone {
		font-size: 12px;
	}
	.menu__callus {
	margin: 0px 0px 0px 20px;
	}
}
@media (max-width: 942px) {
	.menu__container {
	flex-wrap: wrap;
	}
	.menu__logo {
	margin: 20px 0px;
	}
	.menu__nav {
	margin: 0px 0px 20px 0px;
	}
	.menu__callus {
	margin: 0px 0px 20px;
	}
}

/* -------------------MAIN-------------------- */
.main {
	display: flex;
	align-items: center;
	height: 645px;
	width: 100%;
	background: url("../img/main/1.jpg") no-repeat center top;
}
.main__container {
	display: flex;
	width: 80%;
	align-items: center;
}
.main__left {
	width: 10%;
	position: relative;
}
.prev {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	height: 35px;
	width: 19px;
	background: transparent;
}
.prev img {
	position: absolute;
	right: 0px;
}
.main__body {
	width: 39.42%;
	margin: 0px 0px 0px 49.79%;
	color: #1A1919;
}
.main__over {
	width: 180px;
	font-weight: 400;
	font-size: 28px;
	line-height: 32px;
}
.main__title {
	width: 458px;
	font-weight: 700;
	font-size: 84px;
	line-height: 96px;
	padding: 25px 0px 0px;
}
.main__text {
	width: 584px;
	font-weight: 400;
	font-size: 32px;
	line-height: 42px;
	color: #000;
}
.reachus {
	margin: 40px 0px 0px;
	width: 284px;
	height: 74px;
	background: #B4141B;
	font-weight: 700;
	font-size: 24px;
	line-height: 23px;
	text-align: center;
	color: #FFFFFF;
}
.reachus:hover {
	cursor: grab;
}
.reachus:active {
	background: #810e14;
}
.main__right {
	width: 10%;
}
.main__right {
	width: 10%;
	position: relative;
}
.next {
	height: 35px;
	width: 19px;
	background: transparent;
}
.next img {
	position: absolute;
	left: 0px;
}
@media (max-width: 1380px) {
	.main__body {
		margin: 0px 0px 0px 25%;
	}
}
@media (max-width: 1000px) {
	.main__body {
		margin: 0px 0px 0px 15%;
	}
}
@media (max-width: 850px) {
	.main__text {
		width: 400px;
	}
}
@media (max-width: 640px) {
	.main__title {
	width: 290px;
	font-size: 70px;
	line-height: 114.3%;
	}
}
@media (max-width: 565px) {
	.main__text {
		width: 300px;
	}
}

/* -------------------WE-------------------- */
.we {
}
.we__container {
	display: flex;
	flex: 1 1 auto;
	padding: 85px 0px 135px 0px;
}
.we__left {
	width: 65.5%;
	flex-shrink: 0;
}
.we__title {
}
.we__left_img {
	padding: 55px 0px 0px;
}
.we__left_img img {
	max-width: 100%;
}
.we__left_text {
	margin: 39px 0px 0px;
	line-height: 181%;
}
.we__right {
	margin: 0px 0px 0px 45px;
	width: 34.5%;
}
.we__right_body {
	padding: 55px 0px 0px;
}
.we__right_dependable {
	background: linear-gradient(180deg, #F8F8F8 0%, #F7F7F7 100%);
}
.dependable {
}
.dependable__top {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.dependable__title {
	padding: 45px 0px 0px 37px;
}
.dependable__icon {
	width: 33px;
	height: 35px;
	position: absolute;
	top: 40px;
	right: 18px;
}
.dependable__text {
	line-height: 156%;
	padding: 17px 29px 0px 37px;
}
.more {
	margin: 20px 0px 32px 37px;
	background: inherit;
	font-weight: 700;
	font-size: 12px;
	line-height: 242%;
	color: #7D7D7D;
}
.more:hover {
	cursor: grab;
}
.we__right_open {
	background: linear-gradient(180deg, #F3F3F3 2.58%, #F3F3F3 100%);
}
.open {
}
.open__top {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.open__title {
	padding: 45px 0px 0px 37px;
}
.open__icon {
	width: 33px;
	height: 35px;
	position: absolute;
	top: 40px;
	right: 18px;
}
.open__text {
	line-height: 156%;
	padding: 17px 29px 0px 37px;
}
.we__right_connected {
	background: linear-gradient(180deg, #FCFCFC 0%, #F7F7F7 100%);
}
.connected {
}
.connected__top {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.connected__title {
	padding: 45px 0px 0px 37px;
}
.connected__icon {
	width: 33px;
	height: 35px;
	position: absolute;
	top: 40px;
	right: 18px;
}
.connected__text {
	line-height: 156%;
	padding: 17px 29px 0px 37px;
}
@media (max-width: 1447px) {
	.we__container {
	flex-wrap: wrap;
	}
	.we__left {
		width: 100%;
	}
	.we__right {
		width: 100%;
		padding: 85px 0px 0px;
		margin: 0px;
	}
}

/*-----------------BENEFITS-----------------*/
.benefits {
	height: 504px;
	position: relative;
}
.benefits__bg {
	background: url(../img/benefits/1.png) no-repeat right top;
	height: 504px;
	width: 52.73%;
	position: absolute;
	background-size: cover;
}
.benefits__container {
	display: flex;
	height: 100%;
}
.benefits__left {
	display: flex;
	height: 504px;
	width: 53.89%;
	align-items: center;
	justify-content: end;
}
.benefits__buttons {
	display: flex;
	flex-wrap: wrap;
	width: 75.12%;
	height: 65.67%;
}
.fhysicians {
	width: 100%;
	height: 96px;
	background: rgba(255, 255, 255, 0.9);
	font-weight: 700;
	font-size: 22px;
	line-height: 25px;
	padding: 0px 10px 0px 34px;
	text-align: left;
	z-index: 2;
}
.companies {
	width: 100%;
	height: 96px;
	background: #0E77AF;
	mix-blend-mode: normal;
	opacity: 0.9;
	margin: 21px 0px 0px 0px;
	font-weight: 700;
	font-size: 22px;
	line-height: 25px;
	color: #FFFFFF;
	padding: 0px 10px 0px 34px;
	text-align: left;
	z-index: 2;
}
.control {
	width: 100%;
	height: 96px;
	background: #0E77AF;
	mix-blend-mode: normal;
	opacity: 0.9;
	margin: 21px 0px 0px 0px;
	font-weight: 700;
	font-size: 22px;
	line-height: 25px;
	color: #FFFFFF;
	padding: 0px 10px 0px 34px;
	text-align: left;
	z-index: 2;
}
.benefits__right {
	width: 46.11%;
	padding: 0px 0px 0px 65px;
	background: linear-gradient(180deg, #FCFCFC 0%, #F8F8F8 100%);
}
.benefits__title {
	margin: 75px 0px 0px;
}
.benefits__subtitle {
	font-size: 24px;
	line-height: 28px;
	color: #9B9B9B;
	margin: 10px 0px 0px;
}
.benefits__ul {
	margin: 38px 0px 0px;
}
.benefits__li {
	font-size: 16px;
	line-height: 29px;
	list-style-type: disc;
}
.more__red {
	font-weight: 700;
	font-size: 12px;
	line-height: 192%;
	text-align: center;
	color: #FFFFFF;
	width: 104px;
	height: 35px;
	background: #B4141B;
	margin: 26px 0px 0px;
}
.more__red:hover {
	cursor: grab;
}
.more__red:active {
	background: #720d12;
}
@media (max-width: 1440px) {
	.benefits__title {
		margin: 30px 0px 0px;
	}
}
@media (max-width: 1339px) {
	.benefits__title {
		margin: 0px;
	}
}
@media (max-width: 1300px) {
	.benefits__container {
		flex-wrap: wrap;
		background: url(../img/benefits/1.png) no-repeat right top;
		height: 504px;
		width: 85.11%;
		background-size: cover;
		padding: 0px;
	}
	.benefits__left {
		width: 100%;
	}
	.benefits__buttons {
		width: 54.05%;
	}
	.benefits__right {
		width: 100%;
	}
	.benefits__bg {
		background: none;
	}
	.benefits__title {
		margin: 75px 0px 0px;
	}
}
@media (max-width: 640px) {
	.benefits__buttons {
		width: 70%;
	}
}
@media (max-width: 550px) {
	.benefits__buttons {
		width: 100%;
	}
}

/*----------------SERVICES----------------*/
.services {
	height: 670px;
	margin: 130px 0px 0px;
}
.services__container {
	display: flex;
	height: 100%;
}
.services__left {
	display: flex;
	flex-direction: column;
	/* position: relative; */
	height: 670px;
	width: 50%;
}
.services__title {
}
.services__subtitle {
	font-size: 24px;
	line-height: 28px;	
	color: #9B9B9B;
	margin: 9px 0px 0px;
}
.services__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #979797;
	padding: 0px 0px 25px 0px;
}
.coding {
	margin: 67px 0px 0px;
}
.coding__title {
}
.coding__icon {
	width: 18px;
	height: 4px;
}
.coding__content {
	display: flex;
	margin: 32px 0px 0px;
}
.coding__img {
	width: 160px;
	height: 160px;
}
.coding__body {
	margin: 12px 0px 0px 20px;
}
.coding__text {
	font-size: 16px;
	line-height: 181%;
}
.coding__more {
	font-weight: 700;
	font-size: 12px;
	line-height: 242%;
	color: #7D7D7D;
	background: inherit;
	margin: 1px 0px 0px 0px;
}
.coding__more:hover {
	cursor: grab;
}
.credentialing {
	margin: 42px 0px 0px;
}
.credentialing__title {
}
.credentialing__icon {
	width: 18px;
	height: 18px;
}
.management {
	margin: 31px 0px 0px;
}
.management__title {
}
.management__icon {
	width: 18px;
	height: 18px;
}
.services__right {
	display: flex;
	flex-direction: column;
	height: 670px;
	width: 50%;
	padding: 0px 0px 0px 112px;
}
.security__title {
}
.security__subtitle {
	font-size: 24px;
	line-height: 28px;	
	color: #9B9B9B;
	margin: 9px 0px 0px;
}
.security__img img {
	width: 100%;
	margin: 47px 0px 0px;
}
.security__text {
	font-size: 16px;
	line-height: 181%;
	margin: 58px 0px 0px;
}
.more__red_security {
	font-weight: 700;
	font-size: 12px;
	line-height: 192%;
	text-align: center;
	color: #FFFFFF;
	width: 104px;
	height: 35px;
	background: #B4141B;
	margin: 45px 0px 0px;
}